@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.body {
  height: 100vh;
  font-family: 'Lora', serif;
  overflow: hidden;
  background-color: #7b929a;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}