.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.time-and-place {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.text-container {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  padding: 0 6vw;
  flex-grow: 1;
}

.start-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}