.text-area {
  overflow-y: scroll;
  height: auto;
  height: 250px;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 80px;
}

.text-area::-webkit-scrollbar {
  display: none;
}

.text-item {
  height: 30%;
  min-height: 30%;
  padding-bottom: 16px;
  word-wrap: break-word;
}

.dialog-text-item {
  /* background-image: url('../assets/images/dialog_box.png');
  background-repeat: no-repeat;
  background-size: 700px 50px; */
}

.dialog-text-item p {
  display: inline-block;
  background-image: url('../assets/images/dialog_box.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 40px 60px;
}